<!DOCTYPE HTML>
<html lang="en" layout:decorator="layouts/main"
				xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Customer details</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap CSS -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
		crossorigin="anonymous">
</head>
<body>

	<h3>Customer data</h3>

	<div class="container">
	
		<form action="#" th:action="@{/customers/save}" 
			th:object="${customer}"  method="POST">
			
									
			<!-- Add hidden form fiel to handle update -->
			<input type="hidden" th:field="*{id}"/>
			<label for="firstName" class="sr-only">Keresztnév</label> 
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First Name">
					
			<label for="lastName" class="sr-only">Vezetéknév</label> 
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last Name">
		
			<label for="email" class="sr-only">Email</label> 
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
					
			<label for="password" class="sr-only">Jelszó</label> 
			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="Password">

			<button type="submit" class="btn btn-info col-2">Save</button>			
		
		</form>
	
	</div>
	
	<a href="/customers/list">Back to Customer List</a>
</body>
</html>