<!DOCTYPE HTML>
<html lang="en" xlmns:th="http:/www.thymeleaf.org">
<head>
<title>Orders</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
	
		<div class="panel-heading">			
				<h3> You are logged in as</h3>
				<span sec:authentication="name"></span>
         </div>
         
       	<div>
			User: <span sec:authentication="name"></span>
			<br>
			Role(s): <span sec:authentication="principal.authorities"></span>
			<br><br>
		</div>
		
		<form action="#" th:action="@{/logout}" 
			   method="POST">
	
			<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
		</form>
		
        <h3>Customer data </h3>
        
        <table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Customer Id</th>
					<th>Customer name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempCustomer : ${customer}">
					<td th:text="${tempCustomer.id}" />
					<td th:text="${tempCustomer.fullName}" />					
					<td> 
						<!-- 
						<a th:href="@{/orders/abortOrderByCustomer(orderId=${tempOrder.id})}" 
						class="btn btn-info btn-sm">
						Edit
						</a>
						 -->
					</td>											 
				</tr>
			</tbody>
		</table>


		<h3>Orders</h3>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Order Id</th>
					<th>Customer Id</th>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>Order Status</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempOrder : ${order}">
					<td th:text="${tempOrder.id}" />
					<td th:text="${tempOrder.userId}" />
					
					<td> 
						<div
							th:each="tempShoppingCartLine : ${tempOrder.shoppingCart.listOfShoppingCartProducts}">
								<span th:text="${tempShoppingCartLine.inShoppingCartProduct.productName}" />
						</div>
					</td>
					 
					 
					<td> 
						<div
							th:each="tempShoppingCartLine : ${tempOrder.shoppingCart.listOfShoppingCartProducts}">
								<span th:text="${tempShoppingCartLine.inShoppingCartProduct.productPrice}" />
						</div>
					</td>
					<td th:text="${tempOrder.orderStatus}" />
					<td>
						<a th:href="@{/orders/abortOrderByCustomer(orderId=${tempOrder.id})}" 
						class="btn btn-info btn-sm">
						Close
						</a>
					</td>
			
					
					 
				</tr>
			</tbody>
		</table>

	</div>
	<a href="/products/list">Back to Product List</a>
</body>
</html>