<!DOCTYPE HTML>
<html lang="en" xlmns:th="http:/www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form action="#" method="POST"  th:action="@{/addImage}"
			enctype="multipart/form-data">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>