<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/updateImage">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>


				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	
		<!-- <div>
			<th:text="${imgPath}"></th:text>
				<span th:if="${imgPath != null}" th:text="${imgPath}"></span>
		</div>
		 -->
		 
		 <div> 
			<span>
		 	<a th:if="*{theId}!=0" th:href="@{/products/showFormForUpdate(productId=*{theId})}" >van id</a><br>
		 	</span>
		 
		 </div>

</body>
</html>